header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  height: 50px;
  width: 100%;
  padding: 8px 25px;
  box-sizing: border-box;
  background-color: white;
}
.perfil{  
  display: flex;
  align-items: center;
}
.menu-logo{
  display: flex;
}