header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  height: 50px;
  width: 100%;
}
.perfil{  
  margin-right: 25px;
  display: flex;
  align-items: center;
}